* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

#wrap {
  width: 100%;
  min-height: 1500px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(https://i.postimg.cc/prdZ6L1b/loaf-g11290abfc-1920-1.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  position: relative;
}

#page_wrap {
  width: 1180px;
  background: rgba(98, 47, 9, 0.8);
  margin-top: 195px;
  margin-bottom: 180px;
  border-radius: 40px;
}

#header_wrap {
  width: 100%;
}

#header > h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  position: absolute;
  top: 8%;
  right: 0%;
}

#header > h1 > a > img {
  width: 400px;
  height: 160px;
  cursor: pointer;
}

#header > h1 > span {
  font-size: 25px;
  color: #f4f3f3;
  font-weight: bold;
  margin-top: 50px;
}

#contents_wrap {
  width: 100%;
  margin-top: 250px;
}

#contents_wrap > #contents_header {
  width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#contents_header > button {
  width: 250px;
  height: 65px;
  font-size: 20px;
  text-align: center;
  border-radius: 12px;
  border: none;
  margin: 8px 5px 0 5px;
  padding: 20px;
  box-sizing: border-box;
  background: #f4f3f3;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.1));
}

#contents_header > button:hover {
  background-color: #d48a48;
  color: #f4f3f3;
}

#contents_body {
  margin: 60px auto;
  max-width: 800px;
  width: 100%;
  height: 550px;
  padding: 35px 40px;
  border: 1px solid #f4f3f3;
  border-radius: 30px;
}

#contents_body > ul {
  max-height: 430px;
}

#contents_body > ul > li {
  height: 50px;
  text-align: center;
  border-radius: 12px;
  border: none;
  margin: 8px 5px 5px 5px;
  padding: 20px;
  box-sizing: border-box;
  background: #f4f3f3;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.1));
}

#contents_wrap > #btn {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

#contents_wrap > #btn > button {
  width: 200px;
  height: 50px;
  line-height: 15px;
  font-size: 20px;
  text-align: center;
  border-radius: 12px;
  border: none;
  margin: 8px 5px 0 5px;
  padding: 20px;
  box-sizing: border-box;
  background: #f4f3f3;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.1));
}

#contents_wrap > #btn > button:hover {
  background-color: #d48a48;
  color: #f4f3f3;
}
