* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

#wrap {
  width: 100%;
  min-height: 1600px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/img/login_profile.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  position: relative;
}

#signup_wrap {
  width: 1180px;
  background: #fff;
  margin-top: 195px;
  margin-bottom: 180px;
  border-radius: 40px;
}

#header_wrap {
  width: 100%;
}

#header > h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  position: absolute;
  top: 6%;
  right: 0%;
}

#header > h1 > a > img {
  width: 400px;
  height: 160px;
  cursor: pointer;
}

#header > h1 > span {
  font-size: 25px;
  color: #121212;
  font-weight: bold;
}

#contents_wrap {
  width: 100%;
  margin-top: 170px;
}

#contents > #login > div {
  margin-top: 49px;
}

#contents > #login > div > h3 {
  margin-bottom: 10px;
}

#contents > #login > div > .form > input {
  width: 900px;
  height: 65px;
  font-size: 12px;
  text-align: left;
  border-radius: 12px;
  border: none;
  margin: 8px 0 0 0;
  padding: 20px;
  box-sizing: border-box;
  background: #f4f3f3;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.1));
}

#contents > #info > div {
  margin-top: 49px;
}

#contents > #info > div > h3 {
  margin-bottom: 10px;
}

#contents > #info > div > .form > input {
  width: 900px;
  height: 65px;
  font-size: 12px;
  text-align: left;
  border-radius: 12px;
  border: none;
  margin: 8px 0 0 0;
  padding: 20px;
  box-sizing: border-box;
  background: #f4f3f3;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.1));
}

#contents > #submit_btn {
  text-align: center;
}

#contents > #submit_btn > .button {
  margin: 80px 0 50px 0;
  width: 500px;
  height: 50px;
  line-height: 51px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #d48a48;
  border: none;
  border-radius: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.1));
  cursor: pointer;
}

#contents > #submit_btn > .button:hover {
  background-color: #f4f3f3;
  color: #d48a48;
}

/* etc */
.container {
  width: 900px;
  margin: 0 auto;
}
