{% extends '../layout/layout.html' %} {% block css %}

<link rel="stylesheet" href="/css/admin/admin_header.css" />
<link rel="stylesheet" href="/css/admin/admin_user.css" />

{% endblock %} {% block content %}

<div id="admin_wrap">
  {% include "../layout/admin_header.html" %}

  <div id="admin_content">
    <div id="admin_menu">
      <ul>
        <li>
          <img src="https://i.postimg.cc/rF6Mc2g2/Vector.png" />
          <a href="/admins">Overview</a>
        </li>
        <li>
          <img src="https://i.postimg.cc/0j7grrZR/Vector-1.png" />
          <a href="/admins/users">Users</a>
        </li>
        <li>
          <img src="https://i.postimg.cc/XN56sDWH/Vector-2.png" />
          <a href="/admins/boards">Boards</a>
        </li>
        <li>
          <img src="https://i.postimg.cc/2Skp8kZM/Vector-3.png" />
          <a href="/admins/comments">Comments</a>
        </li>
      </ul>
    </div>

    <div id="admin_allusers">
      <div id="allusers_header">
        <div id="allusers">
          All Users
          <div id="selectbox">
            <img src="https://i.postimg.cc/mhxdqsxb/Vector.png" />
            <select>
              <option>Sort</option>
              <option>최신순</option>
              <option>조회순</option>
            </select>
          </div>
        </div>
        <ul>
          <li class="users_info">Profile</li>
          <li class="users_info">User Id</li>
          <li class="users_info">User Name</li>
          <li class="users_info">Nick Name</li>
          <li class="users_info">E-mail</li>
          <li class="users_info">Remove</li>
        </ul>
      </div>
      <div id="allusers_body">
        <ul></ul>
        <div id="admin_page">
          <span></span>
          <span>Page: 10</span>
          <img src="https://i.postimg.cc/7YkWrdKf/Vector-2.png" />
          <img src="https://i.postimg.cc/5tTs7RH9/Vector-3.png" />
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block js %}

<script type="module" src="/js/lib/userList.js"></script>

<!-- <script type="text/javascript">
  const targetParent = document.querySelector("#allusers_body > ul");
  const total = document.querySelector("#allusers_body > #admin_page > #total");
  console.log(targetParent);
  const count = async () => {
    const response = await request.get(`/admins/userlist`);
    console.log("@@@@ response : ", response.data.length);

    total.innerHTML = "Total Users: " + response.data.length;

    return response;
  };

  count();
</script> -->

<script type="text/javascript">
  window.onload = function () {
    const count_target = document.querySelector("#allusers_body > ul");
    const total = document.querySelector("#allusers_body > #admin_page > span");

    console.log("####", count_target.childElementCount);

    total.innerHTML = "Total Users: " + count_target.childElementCount;
  };
</script>

<!-- <script type="text/javascript">
  window.onload = function () {
    const default_img = document.querySelector(
      "#allusers_body > ul > li > ul > li >img"
    );
    console.log(default_img);
    // profile image에 아직 어떠한 이미지도 따로 지정하지 않은 경우에는 기본 profile image를 적용해주는 코드
    if (default_img.src === "http://127.0.0.1:3000/") {
      default_img.src = "https://cdn-icons-png.flaticon.com/512/64/64572.png";
    }
  };
</script> -->

{% endblock %}
