{% extends '../layout/layout.html' %} {% block css %}

<link rel="stylesheet" href="/css/admin/admin_header.css" />
<link rel="stylesheet" href="/css/admin/admin_user.css" />

{% endblock %} {% block content %}

<div id="admin_wrap">
  {% include "../layout/admin_header.html" %}

  <div id="admin_content">
    <div id="admin_menu">
      <ul>
        <li>
          <img src="https://i.postimg.cc/rF6Mc2g2/Vector.png" />
          <a href="/admins">Overview</a>
        </li>
        <li>
          <img src="https://i.postimg.cc/0j7grrZR/Vector-1.png" />
          <a href="/admins/users">Users</a>
        </li>
        <li>
          <img src="https://i.postimg.cc/XN56sDWH/Vector-2.png" />
          <a href="/admins/boards">Boards</a>
        </li>
        <li>
          <img src="https://i.postimg.cc/2Skp8kZM/Vector-3.png" />
          <a href="/admins/comments">Comments</a>
        </li>
      </ul>
    </div>

    <div id="admin_allusers">
      <div id="allusers_header">
        <div id="allusers">All Users</div>
        <ul>
          <li class="users_info">Profile</li>
          <li class="users_info">User Id</li>
          <li class="users_info">User Name</li>
          <li class="users_info">Nick Name</li>
          <li class="users_info">E-mail</li>
          <li class="users_info">Right</li>
        </ul>
      </div>
      <div id="allusers_body">
        <ul></ul>
        <div id="admin_page">
          <span>Total Users: {{userCount}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block js %}

<script type="module" src="/js/lib/userList.js"></script>

{% endblock %}
