#wrap {
  width: 100%;
}

#header_wrap {
  width: 100%;
  background-color: var(--header_background_color);
}

#header {
  width: 1160px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: var(--header_background_color);
}
#logo > a > img {
  width: 180px;
  /* height: 67px; */
}

#category {
  display: flex;
  width: 500px;
  justify-content: space-between;
}

#category a {
  width: 100px;
  height: 100%;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  font-size: var(--header_font_size);
  color: var(--default_font_color);
}

#login_signin_box {
  display: flex;
  width: 220px;
  justify-content: space-between;
}

#login_signin_box > #profile {
  display: flex;
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: #fefefe;
  font-weight: bold;
  font-size: 15px;
}

#login_signin_box > #profile > #usernick {
  width: 160px;
}

#login_signin_box > #profile > #profile_btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#login_signin_box > #profile > #profile_btn > img {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-sizing: border-box;
}

#profile_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100px;
  z-index: 3;
  width: 140px;
  visibility: hidden;
  background-color: #cb976b;
}

#profile_menu > li {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px solid #fff;
  box-sizing: border-box;
}

#profile_menu > li > a {
  color: #fff;
  font-weight: bold;
  padding: 20px;
}

#login_btn {
  display: inline-block;
  width: 100px;
  height: 40px;
  border-radius: 80px;
  border: 1px solid var(--login_btn_background_color);
  background: var(--login_btn_background_color);
  color: var(--login_btn_font_color);
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  font-size: var(--default_font_size);
}

#signin_btn {
  display: inline-block;
  width: 100px;
  height: 40px;
  border-radius: 80px;
  background: var(--signin_btn_background_color);
  border: 1px solid var(--signin_btn_background_color);
  color: var(--signin_btn_font_color);
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  font-size: var(--default_font_size);
}

/* content 영역 */
#content_box {
  width: 1160px;
  margin: 0 auto;
}

.boards_box_wrap {
  display: flex;
  justify-content: space-between;
}

.boards_box {
  width: 560px;
  height: 380px;
  margin-bottom: 80px;
}
.boards_header {
  width: 100%;
  height: 55px;
  padding-left: 20px;
  overflow: hidden;
  border-radius: 12px 12px 0 0;
  color: var(--default_font_color);
  font-size: var(--main_boards_header_font_size);
  font-weight: bold;
  line-height: 60px;
}

#qna_header {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/img/boards_header_0.png");
  background-size: cover;
}
#community_header {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/img/boards_header_1.png");
  background-size: cover;
}
#notice_header {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/img/boards_header_2.png");
  background-size: cover;
}

.board_content > li {
  width: 100%;
  height: 65px;
  background: var(--default_box_background_color);
  padding: 10px 20px;
  font-size: var(--default_font_size);
  border-bottom: 1px solid var(--main_boards_box_border_bottom_color);
}
.first_line {
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
  border-bottom: 1px dashed var(--main_boards_content_dash_line_color);
  padding-bottom: 5px;
}
.nickname_time_box {
  display: flex;
  justify-content: space-between;
  width: 200px;
}
.nickname {
  color: var(--main_boards_content_nickname_color);
}
.time {
  color: var(--main_boards_content_time_color);
}

.information_box {
  width: 100px;
  display: flex;
}
.hits_box {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.hits {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url("/img/hits.png");
  background-size: 100% 80%;
  background-repeat: no-repeat;
  margin-right: 5px;
}
.reply_box {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.reply {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url("/img/comments.png");
  background-size: cover;
  margin-right: 5px;
}
.likes_box {
  display: flex;
  align-items: center;
}
.likes {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url("/img/likes.png");
  background-size: cover;
  margin-right: 5px;
}
.seconde_line {
  padding-top: 5px;
  padding-bottom: 10px;
  font-weight: bold;
}

#contentSlideBar {
  width: 560px;
  height: 380px;
}

#contentSlideBar > #slidePart {
  width: 100%;
  max-width: 560px;
  height: 380px;
  position: relative;
}

#contentSlideBar > #slidePart > #slideShow {
  overflow: hidden;
}

#contentSlideBar > #slidePart > #slideShow > .slides {
  display: flex;
  position: relative;
  transition: 0.5s;
}

#contentSlideBar > #slidePart > #slideShow > .slides > li > img {
  width: 560px;
  height: 380px;
  border-radius: 12px;
  vertical-align: top;
}

#contentSlideBar > #slidePart > #slideShow > .controller > span {
  cursor: pointer;
  color: #ececec;
  font-size: 40px;
  width: 25px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

#contentSlideBar > #slidePart > #slideShow > .controller > .prev {
  position: absolute;
  top: 40%;
}

#contentSlideBar > #slidePart > #slideShow > .controller > .next {
  position: absolute;
  top: 40%;
  left: 535px;
}

/* content 영역 끝 */
#youtube_box {
  width: 100%;
  height: 290px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.round {
  border-radius: 12px;
  overflow: hidden;
}
#baek {
  width: 360px;
  margin-right: 40px;
}
#hwang {
  width: 360px;
  margin-right: 40px;
}
#lee {
  width: 360px;
}
#footer_wrap {
  width: 100%;
  height: 180px;
  background: var(--footer_background_color);
  font-size: var(--footer_font_size);
}

#footer_wrap {
  margin-top: 10px;
  width: 100%;
  height: 270px;
  display: flex;
  background: rgba(64, 40, 26, 0.9);
}

#footer {
  width: 1000px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
}

#footer > ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 20px 0;
  margin-left: 50px;
  box-sizing: border-box;
}

#footer > ul > li > a {
  font-weight: 400;
  font-size: var(--footer_font_size);
  line-height: 10px;
  color: var(--default_font_color);
  text-decoration: none;
}

#footer > ul > li > .team_phl::after {
  content: "|";
  font-weight: 400;
  font-size: var(--footer_font_size);
  line-height: 10px;
  color: var(--default_font_color);
  padding: 0 20px;
  box-sizing: border-box;
}

#footer > #footer_info {
  width: 100%;
  display: flex;
}

#footer > #footer_info > h1 {
  padding-left: 25px;
  box-sizing: border-box;
}

#footer > #footer_info > h1 > img {
  display: inline-block;
  width: 200px;
  height: 120px;
  margin-right: 20px;
}

#team_info {
  box-sizing: border-box;
  padding-top: 20px;
}

#team_info > p {
  font-weight: 400;
  font-size: var(--footer_font_size);
  line-height: 10px;
  color: var(--default_font_color);
  padding-bottom: 10px;
  box-sizing: border-box;
}

#team_info > .copyright {
  box-sizing: border-box;
}
