{% extends '../layout/layout.html' %} {% block css %}

<link rel="stylesheet" href="/css/user/profile.css" />

{% endblock %} {% block content %}

<div id="modify_wrap">
  <input type="hidden" value="{{server}}" id="server" />
  <div id="header_wrap">
    <div id="header">
      <h1 id="logo">
        <a href="/"><img src="https://i.postimg.cc/hjKZgQ6x/team-logo.png" /></a>
        <span>Profile 수정</span>
      </h1>
    </div>
  </div>

  <form method="post" action="/users/single" id="photoFrm">
    <input type="file" name="filename" id="profile_img" />
    <button type="submit">사진 등록</button>
  </form>

  <form method="post" action="/users/profile" id="profileFrm">
    <div id="contents_wrap">
      <div id="contents" class="container">
        <div id="imageBox">
          <!-- <label for="profile_img">
            <img src="" alt="" id="previewImg" />
          </label>
          <input type="hidden" name="image" id="userImg" /> -->

          {% if image %}
          <label for="profile_img">
            <img src="{{image}}" alt="modify_img" id="previewImg" />
          </label>
          <input type="hidden" name="image" id="userImg" value="{{image}}" />

          {% else %}
          <label for="profile_img">
            <img src="/img/profile_img.png" alt="default_img" id="previewImg" />
          </label>
          <input type="hidden" name="image" id="userImg" />

          {% endif %}
        </div>

        <div id="login">
          <div id="userid_row">
            <h3 id="userid">
              <label for="userid">아이디</label>
            </h3>
            <span class="form">
              <input type="text" name="userid" id="userid" value="{{userid}}" readonly />
            </span>
            <p class="alertMessage" style="opacity: 0; color: red">영문과 숫자를 사용하여 6~16자 사이로 입력해주세요</p>
          </div>

          <div id="password_row">
            <h3 id="userpw">
              <label for="password">비밀번호</label>
            </h3>
            <span class="form">
              <input
                type="password"
                id="password"
                name="password"
                placeholder="영문, 숫자, 특수문자를 모두 혼합하여 8자 이상으로 써주세요"
                onfocus="this.placeholder=''"
                onblur="this.placeholder='영문, 숫자, 특수문자를 모두 혼합하여 8자 이상으로 써주세요'"
                maxlength="16"
              />
            </span>
            <p class="alertMessage" style="opacity: 0; color: red">영문, 숫자, 특수문자를 모두 혼합하여 8자 이상으로 써주세요</p>
          </div>

          <div id="pwcheckBox">
            <h3 id="user_pwcheck">
              <label for="pwcheck">비밀번호 재확인</label>
            </h3>
            <span class="form">
              <input
                type="password"
                id="pwcheck"
                name="pwcheck"
                placeholder="비밀번호를 다시 한 번 입력해주세요"
                onfocus="this.placeholder=''"
                onblur="this.placeholder='비밀번호를 다시 한 번 입력해주세요'"
                maxlength="16"
              />
            </span>
            <p class="checkMessage" style="opacity: 0; color: red">비밀번호가 일치하지 않습니다</p>
          </div>
        </div>

        <div id="info">
          <div id="nickname_row">
            <h3 id="nickname">
              <label for="nickname">닉네임</label>
            </h3>
            <span class="form">
              <input type="text" id="nickname" name="nickname" value="{{nickname}}" />
            </span>
            <p class="alertMessage" style="opacity: 0; color: red">특수문자를 제외하여 두 글자 이상으로 입력해주세요</p>
          </div>

          <div id="name_row">
            <h3 id="name">
              <label for="name">이름</label>
            </h3>
            <span class="form">
              {% if name %}
              <input type="text" id="name" name="name" value="{{name}}" />

              {% else %}
              <input type="text" id="name" name="name" placeholder="2~5 길이의 한글로 입력해주세요" onfocus="this.placeholder=''" onblur="this.placeholder='2~5 길이의 한글로 입력해주세요'" />

              {% endif %}
            </span>
            <p class="alertMessage" style="opacity: 0; color: red">2~5 길이의 한글로 입력해주세요</p>
          </div>

          <div id="email_row">
            <h3 id="email">
              <label for="email">이메일</label>
            </h3>
            <span class="form">
              <input type="text" id="email" name="email" value="{{email}}" />
            </span>
            <p class="alertMessage" style="opacity: 0; color: red">이메일 형식에 맞게 입력해주세요</p>
          </div>

          <div id="phonenumber_row">
            <h3 id="phonenumber">
              <label for="phonenumber">휴대폰 번호</label>
            </h3>
            <span class="form">
              {% if phonenumber %}
              <input type="tel" id="phonenumber" name="phonenumber" value="{{phonenumber}}" maxlength="11" />

              {% else %}
              <input
                type="tel"
                id="phonenumber"
                name="phonenumber"
                placeholder="'-'를 제외한 11자리의 숫자로 입력해주세요"
                onfocus="this.placeholder=''"
                onblur="this.placeholder=`'-'를 제외한 11자리의 숫자로 입력해주세요`"
                maxlength="11"
              />

              {% endif %}
            </span>
            <p class="alertMessage" style="opacity: 0; color: red">'-'를 제외한 11자리의 숫자로 입력해주세요</p>
          </div>

          <div id="gender_row">
            <h3 id="gender">
              <label for="gender">성별</label>
            </h3>
            {% if gender === 'male' %}
            <select id="gender" class="inbox" name="gender">
              <option value="none">선택</option>
              <option value="male" checked>남성</option>
              <option value="female">여성</option>
            </select>

            {% elif gender === 'female' %}
            <select id="gender" class="inbox" name="gender">
              <option value="none">선택</option>
              <option value="male">남성</option>
              <option value="female" checked>여성</option>
            </select>

            {% else %}
            <select id="gender" class="inbox" name="gender">
              <option value="none" checked>선택</option>
              <option value="male">남성</option>
              <option value="female">여성</option>
            </select>

            {% endif %}
            <p class="alertMessage" style="opacity: 0; color: red">필수 선택 사항이 아닙니다.</p>
          </div>

          <div id="address_row">
            <h3 id="user_address">
              <label for="address">주소</label>
            </h3>
            <span class="form">
              {% if address %}
              <input type="text" id="address" name="address" value="{{address}}" readonly />

              {% else %}
              <input type="text" id="address" name="address" placeholder="주소를 검색해주세요" readonly />

              {% endif %}
              <a id="address_search">주소 찾기</a>
            </span>
          </div>

          <ul id="sub_address_row">
            <li class="detail_form">
              {% if sub_address %}
              <input type="text" id="sub_address" name="sub_address" value="{{sub_address}}" />

              {% else %}
              <input type="text" id="sub_address" name="sub_address" placeholder="상세 주소를 입력해주세요" onfocus="this.placeholder=''" onblur="this.placeholder='상세 주소를 입력해주세요'" />

              {% endif %}
            </li>
          </ul>

          <div id="introduce_row">
            <h3 id="introduce">간단 소개</h3>
            <span class="form">
              {% if introduce %}
              <textarea name="introduce" id="introduce" cols="100" rows="10">{{introduce}}</textarea>

              {% else %}
              <textarea
                name="introduce"
                id="introduce"
                cols="100"
                rows="10"
                placeholder="본인을 간단히 소개해주세요"
                onfocus="this.placeholder=''"
                onblur="this.placeholder='본인을 간단히 소개해주세요'"
              ></textarea>

              {% endif %}
            </span>
          </div>
        </div>
        <div id="btn_area">
          <button type="submit" class="button">수정완료</button>
          <a href="/" class="button">취소</a>
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock %} {% block js %}

<script type="module" src="/js/module/profile.js"></script>

<!-- gender 영역 처리
<script type="text/javascript">
  const gender_box = document.querySelector("#gender_row");
  const gender_input = document.querySelector("#gender_row > span");

  gender_input.addEventListener("click", function () {
    gender_box.innerHTML =
      '<h3 id="gender"><label for="gender">성별</label></h3><select id="gender" class="inbox" name="gender"><option value="none" checked>선택</option><option value="male">남성</option><option value="female">여성</option></select><p class="alertMessage" style="opacity: 0; color: red">필수 선택 사항이 아닙니다.</p>';
  });
</script> -->

<!-- kakao 주소 찾기 API -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript">
  window.onload = function () {
    document.querySelector("#address_search").addEventListener("click", function () {
      //주소입력칸을 클릭하면
      //카카오 지도 발생
      new daum.Postcode({
        oncomplete: function (data) {
          //선택시 입력값 세팅
          document.querySelector("#address").value = data.address; // 주소 넣기
          document.querySelector("input[name=sub_address]").focus(); //상세 주소 입력폼 포커싱
        },
      }).open();
    });
  };
</script>

{% endblock %}
