{% extends '../layout/layout.html' %} {% block css %}

<link rel="stylesheet" href="/css/user/signin.css" />

{% endblock %} {% block content %}

<form action="" name="login" id="loginFrm">
  <div id="header">
    <h1 id="logo">
      <a href="/"><img src="https://i.postimg.cc/hjKZgQ6x/team-logo.png" /></a>
    </h1>
  </div>
  <input
    type="text"
    name="userid"
    id="userid"
    placeholder="아이디를 입력해주세요"
    onfocus="this.placeholder=''"
    onblur="this.placeholder='아이디를 입력해주세요'"
    required
  />
  <input
    type="password"
    name="password"
    id="password"
    placeholder="비밀번호를 입력해주세요"
    onfocus="this.placeholder=''"
    onblur="this.placeholder='비밀번호를 입력해주세요'"
    required
  />
  <button type="submit" id="login" class="button" style="margin-top: 50px">
    로그인
  </button>
  <a id="signup_btn" href="/users/terms">회원가입</a>
  <div id="kakao">
    <a href="/users/kakao/login">
      <img
        src="https://i.postimg.cc/8zPhm8G6/kakao-login-large-wide-2.png"
        alt="kakao_login"
      />
    </a>
  </div>
</form>

{% endblock%} {% block js %}

<script type="module" src="/js/module/signin.js"></script>

{% endblock %}
