{% extends '../layout/layout.html' %} {% block css %}

<link rel="stylesheet" href="/css/terms.css" />

{% endblock %} {% block content %}

<div id="wrap">
  <div id="signup_wrap">
    <div id="header_wrap">
      <div id="header">
        <h1 id="logo">
          <a href="/"
            ><img src="https://i.postimg.cc/hjKZgQ6x/team-logo.png"
          /></a>
          <span>Node.phl 페이지에 오신 것을 환영합니다.</span>
        </h1>
      </div>
    </div>

    <form method="post" action="/terms" id="signupFrm">
      <div id="contents_wrap">
        <div id="contents" class="container">
          <div id="login">
            <div id="terms_row">
              <h3 id="terms">약관</h3>
              <span class="terms">
                <textarea name="terms" id="terms" cols="115" rows="7">
제 1장 총칙

제 1 조 (목 적)

이 약관은 ㈜커넥트웨이브 (전자상거래 사업자)가 운영하는 인터넷 서비스 "다나와" (www.danawa.com) 및 다나와 관련 제반 서비스 사이트(접속 가능한 유,무선 단말기의 종류와는 상관없이 이용 가능한 '회사' 가 제공하는 모든 "서비스" 를 의미하며, 이하 '사이트'라 함)에서 제공하는 상품 및 가격정보 등 상품에 대한 정보 제공 및 광고서비스를 이용함에 있어 '회사' 와 이용자의 권리와 의무 및 책임사항 등을 규정함을 그 목적으로 합니다.</textarea
                >
                <div>
                  <p>
                    귀하께서 본 사이트의 개인정보보호방침 또는 이용약관의 내용에
                    대해 「동의」 버튼을 클릭하면 개인정보 수집에 대해 동의한
                    것으로 봅니다.
                  </p>
                </div>
                <div id="agree_area">
                  <input type="checkbox" id="agree_btn" required />
                  <span id="agree">동의하기(필수)</span>
                </div>
              </span>
            </div>
          </div>
          <button type="check" class="button">회원가입</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- <script type="text/javascript">
  const agree_btn = document.querySelector(".terms > #agree_btn");
  const submit_btn = document.querySelector(".button");

  submit_btn.addEventListener("submit", (e) => {
    e.preventDefault();

    if (agree_btn.checked !== true) {
      window.scrollBy(0, 180);
      alert("동의하기 버튼을 체크해주세요");
    }

    if (alert.checked === true) {
      agree_btn.focus();
    }
  });
</script> -->

{% endblock%}
