{% extends '../layout/layout.html' %} {% block css %}

<link rel="stylesheet" href="/css/user/welcome.css" />

{% endblock %} {% block content %}
<div id="welcome_wrap">
  <div id="header_wrap">
    <div id="header">
      <h1 id="logo">
        <a href="/"
          ><img src="https://i.postimg.cc/hjKZgQ6x/team-logo.png"
        /></a>
        <span>회원가입을 진심으로 환영합니다.</span>
      </h1>
    </div>
  </div>

  <div id="contents">
    <h2>{{nickname}}님, 환영합니다</h2>
  </div>
  <div id="nav">
    <a href="/">홈페이지로 이동하기</a>
    <a href="/boards">게시판으로 이동하기</a>
    <a href="/users/profile">회원정보 조회하기</a>
  </div>
</div>

{% endblock %}
