{% extends './layout/layout.html' %} {% block css %}

<link rel="stylesheet" href="/css/index.css" />
<link rel="stylesheet" href="/css/layout/slide.css" />

{% endblock %} {% block content %} {% include "./layout/header.html" %} {% include "./layout/slide.html" %}

<div id="content_box">
  <!-- 첫번째 라인 -->
  <div id="boards_box_first" class="boards_box_wrap">
    <!-- q&a -->
    <div class="boards_box box">
      <a href="#"><div class="boards_header" id="qna_header">Q&A</div></a>
      <ul class="board_content"></ul>
    </div>
    <!-- 커뮤니티 -->
    <div class="boards_box box">
      <a href="#"><div class="boards_header" id="community_header">커뮤니티</div></a>
      <ul class="board_content"></ul>
    </div>
  </div>
  <!-- 두번째 라인 -->
  <div id="boards_box_second" class="boards_box_wrap">
    <!-- 공지사항 -->
    <div class="boards_box box">
      <a href="#"><div class="boards_header" id="notice_header">공지사항</div></a>
      <ul class="board_content"></ul>
    </div>

    <!-- content 영역의 slide -->
    <div id="contentSlideBar">
      <div id="slidePart">
        <div id="slideShow">
          <ul class="slides">
            <li>
              <img src="/img/sub_slide_1.png" alt="slide1" />
            </li>
            <li>
              <img src="/img/sub_slide_2.png" alt="slide2" />
            </li>
            <li>
              <img src="img/sub_slide_3.png" alt="slide3" />
            </li>
            <li>
              <img src="img/sub_slide_4.png" alt="slide4" />
            </li>
          </ul>
          <div class="controller">
            <span class="prev"><</span>
            <span class="next">></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="youtube_box">
    <div id="baek" class="round">
      <iframe
        width="100%"
        height="100%"
        src="https://www.youtube.com/embed/GvxTggiNB9Y?controls=2"
        title="[백종원 시장이 되다_0-1화] 궁금하셨을 이야기들! 다 말씀드리겠습니다."
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
    <div id="hwang" class="round">
      <iframe
        width="100%"
        height="100%"
        src="https://www.youtube.com/embed/1bU41zHDP6w?controls=2"
        title="직원들이 색다른 삼겹살을 먹고 싶다고 해서 만들어 줬습니다 (수육튀김과 딸기김치)"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
    <div id="lee" class="round">
      <iframe
        width="100%"
        height="100%"
        src="https://www.youtube.com/embed/svsTQk13LTQ?controls=2"
        title="드디어.....그가....왔습니다."
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>

{% include "./layout/footer.html" %} {% endblock %} {% block js %}
<script src="/js/layout/slide.js" type="text/javascript"></script>
<script src="/js/module/index.js" type="module"></script>
{% endblock %}
