{% if level === 'top' %}

<div id="admin_header">
  <input type="hidden" value="{{server}}" id="server" />
  <h1>Admin Dashboard</h1>
  <div id="login_signin_box">
    {% if nickname %}
    <div id="profile">
      <div id="usernick">{{nickname}}님</div>
      <div id="profile_btn">
        {% if image %}
        <img src="{{image}}" alt="modify_img" />

        {% else %}
        <img src="/img/profile_img.png" alt="modify_img" />

        {% endif %}
        <ul id="profile_menu">
          <li id="home_move">
            <a id="home_page" href="/">홈페이지</a>
          </li>
          <li id="profile_info">
            <a id="my_page" href="/users/profile">마이 페이지</a>
          </li>
          <li id="logout">
            <a id="logout_btn" href="/">로그아웃</a>
          </li>
        </ul>
      </div>
    </div>

    {% else %}

    <script type="text/javascript">
      alert("로그인이 만료되었습니다. 본 커뮤니티 사이트를 더 사용하려는 경우, 재로그인 부탁드립니다.");
      location.href = "/";
      document.cookie = "token=; expires=Thu, 01 Jan 1970 00:00:01 GMT;";
    </script>

    {% endif %}
  </div>
</div>

{% else %}

<script type="text/javascript">
  alert("로그인이 만료되었습니다. 본 커뮤니티 사이트를 더 사용하려는 경우, 재로그인 부탁드립니다.");
  location.href = "/";
  document.cookie = "token=; expires=Thu, 01 Jan 1970 00:00:01 GMT;";
</script>

{% endif %}

<script type="text/javascript">
  const logout = document.querySelector("#logout");
  logout.addEventListener("click", (e) => {
    e.preventDefault();
    location.href = "/";
    document.cookie = "token=; expires=Thu, 01 Jan 1970 00:00:01 GMT;";
  });
</script>

<script type="text/javascript">
  const profile_btn = document.querySelector("#profile_btn");
  const profile_menu = document.querySelector("#profile_menu");

  profile_btn.addEventListener("click", () => {
    profile_menu.style.visibility = "visible";
  });

  //   profile_btn.addEventListener("click", () => {
  //     profile_menu.style.display = "none";
  //   });
</script>
