    <div id="comment_wrap">
        <div id="comment_body">
            <h1><span></span>개의 댓글</h1>

            <!-- 로그인전 댓글 -->
            <div id="depth_a">
                <!-- <img src="http://localhost:3000/{{image}}" alt="modify_img"> -->
                <img src="https://i.postimg.cc/PJxRTrJh/Group-82.png" alt="modify_img">
                <textarea placeholder="댓글을 쓰려면 로그인이 필요합니다"></textarea>
                <div>
                    <div id="depth_post">댓글쓰기</div>
                </div>
            </div>

            <!-- 로그인 댓글 -->
            <!-- <div id="depth_c">
                <div id="depth_info">
                    <img src="https://i.postimg.cc/zXBGP9w1/Ellipse-4.png">
                    <div>
                        <div>
                            <img src="https://i.postimg.cc/qv5KM7Fv/Vector-1.png"><span>burgerKing</span>
                        </div>
                        <div>    
                            <img src="https://i.postimg.cc/P5gBGFcx/Vector-4.png"><span>2023-02-02</span>
                        </div>
                    </div>
                </div>
                <textarea>안녕하세요</textarea>
                <div id="btn">
                    <div id="depth_delete">삭제하기</div>
                    <div id="depth_put">수정하기</div>
                </div>
            </div> -->
            
            <div id="comment_depth">
                <div id="depth_b" data-commentidx="${commentidx}">
                    <div id="depth_info">
                        <img src="https://i.postimg.cc/zXBGP9w1/Ellipse-4.png">
                        <div>
                            <div>
                                <img src="https://i.postimg.cc/qv5KM7Fv/Vector-1.png"><span id='depth_nic'>${nickname}</span>
                            </div>
                            <div>    
                                <img src="https://i.postimg.cc/P5gBGFcx/Vector-4.png"><span id='depth_date'>${register}</span>
                            </div>
                        </div>
                    </div>
                    <textarea readonly="readonly">${content}</textarea>
                    <div id="btn" data-nic="${nickname}">
                        <div id="depth_delete">삭제하기</div>
                        <div id="depth_put">수정하기</div>
                        <div id='depth_clear'>완료</div>
                    </div>
            </div>
     

            
            
            <!-- <div id="depth_b">
                <div id="depth_info">
                    <img src="https://i.postimg.cc/zXBGP9w1/Ellipse-4.png">
                    <div>
                        <div>
                            <img src="https://i.postimg.cc/qv5KM7Fv/Vector-1.png"><span>{{item.nickname}}</span>
                        </div>
                        <div>    
                            <img src="https://i.postimg.cc/P5gBGFcx/Vector-4.png"><span>2023-02-02</span>
                        </div>
                    </div>
                </div>
                <textarea>{{item.content}}</textarea>
                <div id="btn">
                    <div id="depth_post">댓글쓰기</div>
                </div>
            </div> -->
     


            <!-- 로그인전 대댓글 -->
            <!-- <div id="depth_d">
                <div>
                    <div id="depth_info">
                        <img src="https://i.postimg.cc/zXBGP9w1/Ellipse-4.png">
                        <div>
                            <div>
                                <img src="https://i.postimg.cc/qv5KM7Fv/Vector-1.png"><span>burgerKing</span>
                            </div>
                            <div>    
                                <img src="https://i.postimg.cc/P5gBGFcx/Vector-4.png"><span>2023-02-02</span>
                            </div>
                        </div>
                    </div>
                    <textarea>안녕하세요</textarea>
                </div>
                
                <div id="btn">
                    <div id="depth_post">댓글쓰기</div>
                </div>
            </div> -->

            <!-- 로그인 대댓글 -->
            <!-- <div id="depth_e">
                <div>
                    <div id="depth_info">
                        <img src="https://i.postimg.cc/zXBGP9w1/Ellipse-4.png">
                        <div>
                            <div>
                                <img src="https://i.postimg.cc/qv5KM7Fv/Vector-1.png"><span>burgerKing</span>
                            </div>
                            <div>    
                                <img src="https://i.postimg.cc/P5gBGFcx/Vector-4.png"><span>2023-02-02</span>
                            </div>
                        </div>
                    </div>
                    <textarea>안녕하세요</textarea>
                </div>
                
                <div id="btn">
                    <div id="depth_delete">삭제하기</div>
                    <div id="depth_put">수정하기</div>
                </div>
            </div> -->

        </div>
    </div>
</body>
</html>