<div id="footer_wrap">
  <div id="footer">
    <ul>
      <li>
        <a class="team_phl" href="#">TEAM : Node.phl</a>
      </li>
      <li>
        <a class="team_phl" href="#">Jong Hwan Park</a>
      </li>
      <li>
        <a class="team_phl" href="#">Min Soo Lee</a>
      </li>
      <li>
        <a class="team_phl" href="#">Sang Beom Hwang</a>
      </li>
      <li>
        <a class="personal" href="#">행복하자 우리</a>
      </li>
    </ul>
    <div id="footer_info">
      <h1 id="footer_logo">
        <img src="/img/footer_logo.png" alt="footer_logo" />
      </h1>
      <div id="team_info">
        <p>박종환 : https://github.com/parkjonghwan22</p>
        <p>이민수 : https://github.com/cloudcoke</p>
        <p>황상범 : https://github.com/sangbeomhwang</p>
        <p class="copyright">Copyright © 2023. Node.phl Project Group. All rights reserved.</p>
      </div>
    </div>
  </div>
</div>
