<div id="header_wrap">
  <div id="header">
    <div id="logo">
      <a href="/">
        <img src="https://i.postimg.cc/qvz6NCWC/logo.png" alt="2023-01-30-3-40-39" />
      </a>
    </div>
    <div id="category_box">
      <ul id="category">
        <li id="qna">
          <a href="/boards?mainidx=0&page=1">Q&A</a>
          <img src="https://i.ibb.co/NrpQT9H/cooking.png" alt="cooking" width="15px" height="15px" />
        </li>
        <li id="community">
          <a href="/boards?mainidx=1&page=1">커뮤니티</a>
          <img src="https://i.ibb.co/NrpQT9H/cooking.png" alt="cooking" width="15px" height="15px" />
        </li>
        <li id="notice">
          <a href="/boards?mainidx=2&page=1">공지사항</a>
          <img src="https://i.ibb.co/NrpQT9H/cooking.png" alt="cooking" width="15px" height="15px" />
        </li>
      </ul>
    </div>

    <div id="light_dark_btn">
      <label for="light_dark">
        <a href="#"><img src="https://i.postimg.cc/HxVBkxdY/light-btn.png" alt="light-btn" width="40" height="20" /></a>
      </label>
    </div>
    <div id="login_signin_box">
      <div id="login">
        <a id="login_btn" href="/users/signin">로그인</a>
      </div>
      <div id="signin">
        <a id="signin_btn" href="/users/terms">회원가입</a>
      </div>
    </div>
  </div>
</div>
