<div id="header_wrap">
  <div id="header">
    <div id="logo">
      <a href="/">
        <img src="/img/header_logo.png" alt="header_logo" />
      </a>
    </div>
    <div id="category_box">
      <ul id="category">
        <li></li>
      </ul>
    </div>

    <div id="login_signin_box">
      {% if userid %}
      <div id="profile">
        <div id="usernick">{{userid}}님</div>
        <div id="profile_btn">
          {% if image %}
          <img src="http://127.0.0.1:3000/{{image}}" alt="modify_img" />

          {% else %}
          <img
            src="https://cdn-icons-png.flaticon.com/512/64/64572.png"
            alt="modify_img"
          />

          {% endif %}
          <ul id="profile_menu">
            <li id="profile_info">
              <a id="my_page" href="/users/profile">마이 페이지</a>
            </li>
            <li id="logout">
              <a id="logout_btn" href="/">로그아웃</a>
            </li>
          </ul>
        </div>
      </div>

      {% else %}
      <div id="login">
        <a id="login_btn" href="/users/signin">로그인</a>
      </div>
      <div id="signin">
        <a id="signin_btn" href="/users/terms">회원가입</a>
      </div>

      {% endif %}
    </div>
  </div>
</div>

<script src="/js/layout/header.js" type="module"></script>

<script>
  const logout = document.querySelector("#logout");
  logout.addEventListener("click", (e) => {
    e.preventDefault();
    document.cookie = "token=; expires=Thu, 01 Jan 1970 00:00:01 GMT;";
    location.href = "/";
  });
</script>

<script>
  const profile_btn = document.querySelector("#profile_btn");
  const profile_menu = document.querySelector("#profile_menu");

  profile_btn.addEventListener("click", () => {
    profile_menu.style.opacity = "1";
  });
</script>
