<!-- 슬라이드 영역 -->
<div id="topSlideBar">
  <div id="slidePart">
    <div id="slideShow">
      <ul class="slides">
        <li>
          <img src="/mbti_images/img1.png" alt="slide1" />
        </li>
        <li>
          <img src="/mbti_images/img2.png" alt="slide2" />
        </li>
        <li>
          <img src="/mbti_images/img3.png" alt="slide3" />
        </li>
        <li>
          <img src="/mbti_images/img4.png" alt="slide4" />
        </li>
        <li>
          <img src="/mbti_images/img5.png" alt="slide5" />
        </li>
      </ul>
      <div class="controller">
        <span class="prev"><</span>
        <span class="next">></span>
      </div>
    </div>
  </div>
</div>
