<!-- 슬라이드 영역 -->
<div id="topSlideBar">
  <div id="slidePart">
    <div id="slideShow">
      <ul class="slides">
        <li>
          <img src="/img/main_slide_1.png" alt="slide1" />
        </li>
        <li>
          <img src="/img/main_slide_2.png" alt="slide2" />
        </li>
        <li>
          <img src="/img/main_slide_3.png" alt="slide3" />
        </li>
        <li>
          <img src="/img/main_slide_4.png" alt="slide4" />
        </li>
      </ul>
      <div class="controller">
        <span class="prev"><</span>
        <span class="next">></span>
      </div>
    </div>
  </div>
</div>
