<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="../../public/css/signin.css" />
  </head>

  <body>
    <form action="" name="login" id="loginFrm">
      <h2 id="bannerText" style="margin-bottom: 20px">로그인</h2>
      <input
        type="text"
        name="userid"
        placeholder="아이디를 입력해주세요"
        onfocus="this.placeholder=''"
        onblur="this.placeholder='아이디를 입력해주세요'"
      />
      <input
        type="password"
        name="userpw"
        placeholder="비밀번호를 입력해주세요"
        onfocus="this.placeholder=''"
        onblur="this.placeholder='비밀번호를 입력해주세요'"
      />
      <button type="submit" id="login" class="button" style="margin-top: 50px">
        로그인
      </button>
      <button type="submit" id="signup" class="button">
        <a href="/signup" style="color: #fff">회원가입</a>
      </button>
    </form>

    <script type="module" src="/js/module/login.js"></script>
  </body>
</html>
