<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="../../public/css/index.css" />
  </head>

  <body>
    <div id="wrap">
      <div id="header_wrap">
        <div id="header">
          <h1 id="logo">
            <a href="/"
              ><img
                src="https://i.ibb.co/YjBT0Zp/Kakao-Talk-20230130-161013510-1.png"
            /></a>
            <span>Node.phl 페이지에 오신 것을 환영합니다~</span>
          </h1>
        </div>
      </div>

      <div id="profile_img">
        <form method="post" action="/single" id="photoFrm">
          <p class="title">사진 등록</p>
          <input type="file" name="filename" />
          <button type="submit">전송</button>
        </form>
      </div>

      <form method="post" action="/signup" id="signupFrm">
        <div id="contents_wrap">
          <div id="contents" class="container">
            <div id="login">
              <div id="kakao">
                <a href="#">
                  <img
                    src="https://i.ibb.co/wyJdfzT/kakao-login-large-wide-1-1.png"
                    alt="kakao_login"
                  />
                </a>
              </div>

              <div id="id_row">
                <h3 id="id">
                  <label for="id">아이디</label>
                </h3>
                <span class="form">
                  <input type="text" id="id" />
                </span>
              </div>

              <div id="pwd_row">
                <h3 id="pwd">
                  <label for="pwd">비밀번호</label>
                </h3>
                <span class="form">
                  <input type="password" id="pwd" />
                </span>
              </div>

              <div id="pwd2_row">
                <h3 id="pwd2">
                  <label for="pwd2">비밀번호 재확인</label>
                </h3>
                <span class="form">
                  <input type="password" id="pwd2" />
                </span>
              </div>
            </div>

            <div id="info">
              <div id="name_row">
                <h3 id="name">
                  <label for="name">이름</label>
                </h3>
                <span class="form">
                  <input type="text" id="name" />
                </span>
              </div>

              <div id="nick_row">
                <h3 id="nick">
                  <label for="nick">닉네임</label>
                </h3>
                <span class="form">
                  <input type="text" id="nick" />
                </span>
              </div>

              <div id="birth_row">
                <h3 id="birth">
                  <label for="birth">생년월일</label>
                </h3>
                <span class="form">
                  <input
                    type="date"
                    name="birth"
                    id="birth"
                    min="1900-01-01"
                    max="2020-01-30"
                    required
                  />
                </span>
              </div>

              <div id="gender_row">
                <h3 id="gender">
                  <label for="gender">성별</label>
                </h3>
                <span class="form">
                  <select name="gender" id="gender" aria-level="성별">
                    <option value="default" checked>선택</option>
                    <option value="male">남성</option>
                    <option value="female">여성</option>
                  </select>
                </span>
              </div>

              <div id="email_row">
                <h3 id="email">
                  <label for="email">이메일</label>
                </h3>
                <span class="form">
                  <input type="text" id="email" />
                </span>
              </div>

              <div id="phone_row">
                <h3 id="phone_num">
                  <label for="phone_num">전화번호</label>
                </h3>
                <span class="form">
                  <input type="text" id="phone_num" />
                </span>
              </div>

              <div id="address_row">
                <h3 id="address">
                  <label for="address">주소</label>
                </h3>
                <span class="form">
                  <input type="text" id="address" />
                </span>
              </div>

              <div id="address_detail_row">
                <h3 id="address_detail">
                  <label for="address_detail">상세 주소</label>
                </h3>
                <span class="form">
                  <input type="text" id="address_detail" />
                </span>
              </div>

              <div id="introduce_row">
                <h3 id="introduce">
                  <label for="introduce">간단 소개</label>
                </h3>
                <span class="form">
                  <input type="text" id="introduce" />
                </span>
              </div>
            </div>
            <button type="submit" class="button">
              <a href="#">등록하기</a>
            </button>
          </div>
        </div>
      </form>
    </div>

    <script type="module" src="/js/module/join.js"></script>
  </body>
</html>
