<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/root.css" />
    <link rel="stylesheet" href="../../public/css/board/board.css" />
    
</head>
<body>
    
    <div id="content_wrap">
      <div id="content">
        <div id="content_header">
          <div id="subject">
            <div>커뮤니티</div>
          </div>
          <div id="subcategory">
            <ul>
              <li><a href="#">전체</a></li>
              <li><a href="#">일상이야기</a></li>
              <li><a href="#">모임</a></li>
            </ul>
            <div>
              <img src="https://i.postimg.cc/ncnvqsZh/Vector-5.png" />
              <select>
                <option>최신순</option>
                <option>조회순</option>
                <option>좋아요순</option>
                <option>댓글순</option>
              </select>
            </div>
          </div>
        </div>

        <div id="content_body">
          <ul>
            <li>
              <div class="li_user">
                <a href="#">닉네임</a>
                <div>
                  <span>등록시간</span>
                  <span>몇분전</span>
                </div>
              </div>
              <div class="li_sub"><a href="#">디자인이 너무 어려워요..</a></div>
              <div class="li_Cate">
                <a href="#">#Gitjub #Repository</a>
                <div>
                  <div>
                    조회수<img
                      src="https://i.postimg.cc/XYD9XSTJ/ph-eye.png"
                    /><span>0</span>
                  </div>
                  <div>
                    좋아요<img
                      src="https://i.postimg.cc/JnXFPQbN/Vector.png"
                    /><span>0</span>
                  </div>
                  <div>
                    댓글<img
                      src="https://i.postimg.cc/5ynS3Hk5/Vector-1.png"
                    /><span>0</span>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="li_user">
                <a href="#">닉네임</a>
                <div>
                  <span>등록시간</span>
                  <span>몇분전</span>
                </div>
              </div>
              <div class="li_sub"><a href="#">디자인이 너무 어려워요..</a></div>
              <div class="li_Cate">
                <a href="#">#Gitjub #Repository</a>
                <div>
                  <div>
                    조회수<img
                      src="https://i.postimg.cc/XYD9XSTJ/ph-eye.png"
                    /><span>0</span>
                  </div>
                  <div>
                    좋아요<img
                      src="https://i.postimg.cc/JnXFPQbN/Vector.png"
                    /><span>0</span>
                  </div>
                  <div>
                    댓글<img
                      src="https://i.postimg.cc/5ynS3Hk5/Vector-1.png"
                    /><span>0</span>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="li_user">
                <a href="#">닉네임</a>
                <div>
                  <span>등록시간</span>
                  <span>몇분전</span>
                </div>
              </div>
              <div class="li_sub"><a href="#">디자인이 너무 어려워요..</a></div>
              <div class="li_Cate">
                <a href="#">#Gitjub #Repository</a>
                <div>
                  <div>
                    조회수<img
                      src="https://i.postimg.cc/XYD9XSTJ/ph-eye.png"
                    /><span>0</span>
                  </div>
                  <div>
                    좋아요<img
                      src="https://i.postimg.cc/JnXFPQbN/Vector.png"
                    /><span>0</span>
                  </div>
                  <div>
                    댓글<img
                      src="https://i.postimg.cc/5ynS3Hk5/Vector-1.png"
                    /><span>0</span>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="li_user">
                <a href="#">닉네임</a>
                <div>
                  <span>등록시간</span>
                  <span>몇분전</span>
                </div>
              </div>
              <div class="li_sub"><a href="#">디자인이 너무 어려워요..</a></div>
              <div class="li_Cate">
                <a href="#">#Gitjub #Repository</a>
                <div>
                  <div>
                    조회수<img
                      src="https://i.postimg.cc/XYD9XSTJ/ph-eye.png"
                    /><span>0</span>
                  </div>
                  <div>
                    좋아요<img
                      src="https://i.postimg.cc/JnXFPQbN/Vector.png"
                    /><span>0</span>
                  </div>
                  <div>
                    댓글<img
                      src="https://i.postimg.cc/5ynS3Hk5/Vector-1.png"
                    /><span>0</span>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="li_user">
                <a href="#">닉네임</a>
                <div>
                  <span>등록시간</span>
                  <span>몇분전</span>
                </div>
              </div>
              <div class="li_sub"><a href="#">디자인이 너무 어려워요..</a></div>
              <div class="li_Cate">
                <a href="#">#Gitjub #Repository</a>
                <div>
                  <div>
                    조회수<img
                      src="https://i.postimg.cc/XYD9XSTJ/ph-eye.png"
                    /><span>0</span>
                  </div>
                  <div>
                    좋아요<img
                      src="https://i.postimg.cc/JnXFPQbN/Vector.png"
                    /><span>0</span>
                  </div>
                  <div>
                    댓글<img
                      src="https://i.postimg.cc/5ynS3Hk5/Vector-1.png"
                    /><span>0</span>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="li_user">
                <a href="#">닉네임</a>
                <div>
                  <span>등록시간</span>
                  <span>몇분전</span>
                </div>
              </div>
              <div class="li_sub"><a href="#">디자인이 너무 어려워요..</a></div>
              <div class="li_Cate">
                <a href="#">#Gitjub #Repository</a>
                <div>
                  <div>
                    조회수<img
                      src="https://i.postimg.cc/XYD9XSTJ/ph-eye.png"
                    /><span>0</span>
                  </div>
                  <div>
                    좋아요<img
                      src="https://i.postimg.cc/JnXFPQbN/Vector.png"
                    /><span>0</span>
                  </div>
                  <div>
                    댓글<img
                      src="https://i.postimg.cc/5ynS3Hk5/Vector-1.png"
                    /><span>0</span>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>

            <div id="content_footer">
                <div id="content_btn">
                    <form>
                        <select>
                            <option value="val_1">제목+내용</option>
                            <option value="val_2">제목</option>
                            <option value="val_3">내용</option>
                        </select>
                        <input>
                    </form>
                    <a type='submit' id="writebtn">글쓰기</a>
                </div>
                <div id="content_page">
                    
                    <img src="https://i.postimg.cc/qMkrQQLc/Vector-1.png" class="left">
                    <ul id="page">
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                    </ul>
                    <img src="https://i.postimg.cc/0Qw5RQMp/Vector.png" class="right">
                </div>
                
            </div>


        </div>
    </div>

    <div id="footer_wrap">
      <div id="footer">
        <ul>
          <li>
            <a class="team_phl" href="#">TEAM : Node.phl</a>
          </li>
          <li>
            <a class="team_phl" href="#">Jong Hwan Park</a>
          </li>
          <li>
            <a class="team_phl" href="#">Min Soo Lee</a>
          </li>
          <li>
            <a class="team_phl" href="#">Sang Beom Hwang</a>
          </li>
          <li>
            <a class="personal" href="#">행복하자 우리</a>
          </li>
        </ul>
        <div id="footer_info">
          <h1 id="footer_logo">
            <img
              src="https://i.postimg.cc/PxvShGMG/Group-33.png"
              alt="footer_logo"
            />
          </h1>
          <div id="team_info">
            <p>박종환 : https://github.com/parkjonghwan22</p>
            <p>이민수 : https://github.com/cloudcoke</p>
            <p>황상범 : https://github.com/sangbeomhwang</p>
            <p class="copyright">
              Copyright © 2023. Node.phl Project Group. All rights reserved.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
