{% extends '../layout/layout.html' %} {% block css %}

<link rel="stylesheet" href="/css/index.css" />
<link rel="stylesheet" href="/css/board/board.css" />

{% endblock %} {% block content %} {% include "../layout/header.html" %}

<div id="content_wrap">
  <div id="content">
    <div id="content_header">
      <div id="subject"></div>
      <div id="subcategory">
        <ul id="subcategories"></ul>
        <div>
          <img src="/img/sort.png" width="14px" height="11px" />
          <select id="sort">
            <option value="new">최신순</option>
            <option value="old">오래된순</option>
          </select>
        </div>
      </div>
    </div>

    <div id="content_body">
      <ul></ul>
    </div>

    <div id="content_footer">
      <div id="content_btn">
        <form>
          <select>
            <!-- <option value="val_1">제목+내용</option> -->
            <option value="val_2">제목</option>
            <option value="val_3">내용</option>
          </select>
        </form>
        <input type="text" id="searchbox" placeholder="검색" />
        <div id="writebtn">글쓰기</div>
      </div>
      <div id="content_page">
        <img src="/img/arrow.png" class="left" id="left" />
        <ul id="page"></ul>
        <img src="/img/arrow.png" class="right" id="right" />
      </div>
    </div>
  </div>
</div>
{% include "../layout/footer.html" %} {% endblock %} {% block js %}
<script src="/js/module/board_list.js" type="module"></script>
<script src="/js/module/board_search.js" type="module"></script>
{% endblock %}
