{% extends '../layout/layout.html' %} {% block css %}

<link rel="stylesheet" href="/css/index.css" />
<link rel="stylesheet" href="/css/board/view.css" />

{% endblock %} {% block content %} {% include "../layout/header.html" %}

<div id="content_wrap">
  <div id="content">
    <div id="content_header">
      <div id="subject">
        <div>커뮤니티</div>
      </div>
      <div id="subcategory">
        <ul>
          <li><a href="#">전체</a></li>
          <li><a href="#">일상이야기</a></li>
          <li><a href="#">모임</a></li>
        </ul>
      </div>
    </div>

    <div id="content_body">
      <form id="write_form">
        <input id="write_subject" placeholder="제목" />
        <div id="write_group">
          <div id="write_info">
            <img src="https://i.postimg.cc/4xbnhk6D/Vector-1.png" />
            <span>cloudcoke</span>
            <img src="https://i.postimg.cc/PxNqcCgH/Vector.png" />
            <span>2023-02-01</span>
            <img src="https://i.postimg.cc/FHBRkgYk/Vector-6.png" />
            <span>100</span>
          </div>
          <textarea
            id="write_content"
            placeholder="내용을 입력해주세요"
          ></textarea>
        </div>

        <div id="write_btnbox">
          <div id="write_hashbox">
            <span>#힘들다 #살려주세요</span>
          </div>

          <div id="write_btn">
            <button>
              <img src="https://i.postimg.cc/FHBRkgYk/Vector-6.png" />
            </button>
            <button>뒤로가기</button>
            <button>수정하기</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% include "../layout/footer.html" %} {% endblock %}
