<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/root.css" />
    <link rel="stylesheet" href="../../public/css/board/write.css" />

</head>
<body>
    <div id="content_wrap">
        <div id="content">
            <div id="content_header">
                <div id="subject">
                    <div>커뮤니티</div>
                </div>
                <div id="subcategory">
                    <ul>
                        <li><a href='#'>일상이야기</a></li>
                        <li><a href='#'>모임</a></li>
                    </ul>
                </div>
            </div>

        <div id="content_body">
          <form id="write_form">
            <input id="write_subject" placeholder="제목" />
            <div id="write_group">
              <div id="write_info">
                <img src="https://i.postimg.cc/4xbnhk6D/Vector-1.png" />
                <span>cloudcoke</span>
                <img src="https://i.postimg.cc/PxNqcCgH/Vector.png" />
                <span>2023-02-01</span>
              </div>
              <textarea
                id="write_content"
                placeholder="내용을 입력해주세요"
              ></textarea>
            </div>

            <div id="write_btnbox">
              <div id="write_hashbox">
                <span>#</span><input placeholder="tag를 입력해주세요" />
              </div>

              <div id="write_btn">
                <button>취소</button>
                <button>글쓰기</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div id="footer_wrap">
      <div id="footer">
        <ul>
          <li>
            <a class="team_phl" href="#">TEAM : Node.phl</a>
          </li>
          <li>
            <a class="team_phl" href="#">Jong Hwan Park</a>
          </li>
          <li>
            <a class="team_phl" href="#">Min Soo Lee</a>
          </li>
          <li>
            <a class="team_phl" href="#">Sang Beom Hwang</a>
          </li>
          <li>
            <a class="personal" href="#">행복하자 우리</a>
          </li>
        </ul>
        <div id="footer_info">
          <h1 id="footer_logo">
            <img
              src="https://i.postimg.cc/PxvShGMG/Group-33.png"
              alt="footer_logo"
            />
          </h1>
          <div id="team_info">
            <p>박종환 : https://github.com/parkjonghwan22</p>
            <p>이민수 : https://github.com/cloudcoke</p>
            <p>황상범 : https://github.com/sangbeomhwang</p>
            <p class="copyright">
              Copyright © 2023. Node.phl Project Group. All rights reserved.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
