{% extends '../layout/layout.html' %} {% block css %}

<link rel="stylesheet" href="/css/index.css" />
<link rel="stylesheet" href="/css/board/write.css" />

{% endblock %} {% block content %} {% include "../layout/header.html" %}

<div id="content_wrap">
  <div id="content">
    <div id="content_header">
      <div id="subject"></div>
      <div id="subcategory">
        <ul id="subcategories"></ul>
      </div>
    </div>

    <form id="write_form"></form>
    <form id="img_form" enctype="multipart/form-data"></form>
    <div id="content_body">
      <input id="write_subject" placeholder="제목" name="title" form="write_form" />
      <div id="write_group">
        <div id="write_info">
          <img src="/img/users.png" />
          <span>cloudcoke</span>
          <input type="hidden" name="nickname" value="cloudcoke" form="write_form" />
        </div>
        <div id="controller">
          <label for="img">
            <div id="img_btn" class="control_btn">IMG</div>
          </label>
          <input type="file" name="img" id="img" form="img_form" />
        </div>

        <div id="editor_box">
          <div id="editor" contenteditable="true" name="content"></div>
        </div>
      </div>

      <div id="write_btnbox">
        <div id="write_hashbox">
          <div class="hash"><span>#</span><input placeholder="tag를 입력해주세요" /></div>
        </div>

        <div id="write_btn">
          <button id="cancle">취소</button>
          <button type="submit" id="write" form="write_form">글쓰기</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "../layout/footer.html" %} {% endblock %} {% block js %}
<!-- <script src="/js/lib/editor.js" type="module"></script> -->
<script src="/js/module/board_write.js" type="module"></script>
{% endblock %}
