a {
  text-decoration: none;
}

body {
  background-color: #f7f7f5;
}

#admin_wrap {
  margin: 0 auto;
  width: 100%;
  min-height: 1200px;
}

#admin_content {
  width: 100%;
  height: 1200px;
  display: flex;
}

#admin_content > #admin_menu {
  width: 20%;
  height: 100%;
  background-color: #622f09;
}

#admin_content > #admin_menu > ul {
  margin-top: 110px;
  box-sizing: border-box;
}

#admin_content > #admin_menu > ul > li {
  padding-left: 13%;
  margin-bottom: 60px;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
}

#admin_content > #admin_menu > ul > li:nth-child(3) {
  background: #fefefe;
  background-color: rgba(254, 254, 254, 0.5);
  height: 50px;

  line-height: 50px;
  font-size: 25px;
}

#admin_content > #admin_menu > ul > li > img {
  padding-right: 10px;
  box-sizing: border-box;
  width: 30px;
}

#admin_content > #admin_menu > ul > li > a {
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #fefefe;
}

#admin_allusers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 1000px;
}

#admin_allusers > #allusers_header {
  width: 90%;
  height: 190px;
  background: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 12px 12px 0px 0px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

#allusers_header > #allusers {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  margin-bottom: 72px;
}

#allusers > #selectbox {
  float: right;
  display: flex;
  align-items: center;
}

#allusers > #selectbox > img {
  display: inline-block;
  width: 20px;
  height: 15px;
  margin-right: 10px;
}

#allusers > #selectbox > select {
  font-size: 18px;
  border: none;
  appearance: none; /* 크롬 화살표 없애기 */
  /* -moz-appearance:none; 파이어폭스 화살표 없애기 */
  /* appearance:none 화살표 없애기 */
}

#allusers > #selectbox > select:nth-child(1) {
  width: 120px;
}

#allusers > #selectbox > select:nth-child(2) {
  width: 140px;
}

#allusers > #selectbox > select:focus {
  outline: none;
}

#allusers_header > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#allusers_header > ul > li {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  line-height: 34px;
  color: #aaaaaa;
}

#allusers_header > ul > li:nth-child(1) {
  width: 80px;
}

#allusers_header > ul > li:nth-child(2) {
  width: 100px;
}

#allusers_header > ul > li:nth-child(3) {
  width: 180px;
}

#allusers_header > ul > li:nth-child(4) {
  width: 340px;
}

#allusers_header > ul > li:nth-child(5) {
  width: 145px;
}

#allusers_header > ul > li:nth-child(6) {
  width: 120px;
}

#allusers_header > ul > li:nth-child(7) {
  width: 230px;
}

#allusers_body {
  width: 90%;
}

#allusers_body > ul {
  height: 880px;
  margin-top: 40px;
  overflow: auto;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

#allusers_body > ul::-webkit-scrollbar {
  display: none;
}

#allusers_body > ul > li {
  padding: 25px 40px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  color: #000000;
  height: 115px;
  margin-bottom: 10px;
  background-color: #ffffff;
}

#allusers_body > ul > li > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#allusers_body > ul > li > ul > li {
  line-height: 50%;
}

#allusers_body > ul > li > ul > li:nth-child(1) > img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

#allusers_body > ul > li > ul > li:nth-child(1) {
  width: 80px;
}

#allusers_body > ul > li > ul > li:nth-child(2) {
  width: 80px;
}

#allusers_body > ul > li > ul > li:nth-child(3) {
  width: 180px;
}

#allusers_body > ul > li > ul > li:nth-child(4) {
  width: 340px;
}

#allusers_body > ul > li > ul > li:nth-child(5) {
  width: 145px;
}

#allusers_body > ul > li > ul > li:nth-child(6) {
  width: 120px;
}

#allusers_body > ul > li > ul > li:nth-child(7) {
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#allusers_body > ul > li > ul > li:nth-child(7) input {
  width: 80px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 12px;
  border: none;
  box-sizing: border-box;
  background: #f4f3f3;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.1));
}

#allusers_body > ul > li > ul > li:nth-child(7) button {
  width: 80px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #d48a48;
  border: none;
  border-radius: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.1));
  cursor: pointer;
}

#allusers_body > ul > li > ul > li:nth-child(7) button:hover {
  background-color: #f4f3f3;
  color: #d48a48;
}

.users_info {
  /* width: 145px; */
  text-align: center;
}

#admin_page {
  padding: 25px 40px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  font-weight: 400;
  font-size: 15px;
  line-height: 34px;
  color: #000000;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: right;
  background-color: #ffffff;
}

#admin_page > span {
  padding-left: 50px;
}

#admin_page > img {
  padding-left: 40px;
}
